@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
}

main {
    display: flex;
    justify-content: center;
}

.logo {
    width: 210px;
    height: 100px;
    background-image: url(https://raw.githubusercontent.com/pauloandreoliv/Projeto-DSWII/main/assets/img/logo.png);
    background-size: cover;
    transition: 0.25s;
    cursor: pointer;
}

.logo:hover {
    opacity: 0.5;
}

.login-container {
    width: 300px;
}

label {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 200;
}

input {
    width: 300px;
    height: 30px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    border: none;
    background-color: #f7f7f7;
    color: #9b9b9b;
    font-family: 'Open Sans', sans-serif;
}

button {
    width: 185px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    transition: 0.25s;
    cursor: pointer;
}

button.verde {
    background: #84AF6A;
}

button.verde:hover {
    background-color: #6b8f54;
}

button.vermelho {
    background: #AF6A6A;
}

button.vermelho:hover {
    background-color: #734a4a;
}

a {
    text-decoration: none;
    color: black;
}

a#esqueceu {
    font-size: 13px;
    margin-left: 20px;
    padding: 5px;
}

a#voltar {
    font-size: 13px;
    float: left;
    margin-left: 140px;
    padding: 5px;
}

a#possuiconta{
    font-size: 13px;
    float: left;
    margin-left: 25px;
    padding: 5px;
}

.login-container article {
    margin-left: 70px;
    margin-top: 20px;
}

section.principal button{
    color: black;
    width: 350px;
    height: 60px;
    margin-bottom: 15px;
    text-align: left;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open sans', sans-serif;
    border-radius: 2px;
}

section.principal button:hover{
    background-color: #84AF6A;
    color: white;
}

section.principal button span {
    padding-left: 10px;
}

button#sair, button#voltar {
    margin-bottom: 10px;
    margin-left: 30%;
}

.nomedalista {
    color: black;
    background-color: #f0f0f0;
    width: 330px;
    height: 60px;
    line-height: 4.5;
    margin-bottom: 15px;
    text-align: left;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open sans', sans-serif;
    border-radius: 2px;
    cursor: pointer;
}

table {
 width: 350px;
 border-collapse: collapse;
 margin-bottom: 20px;
}

table, th, td {
 padding: 8px;
 text-align: center;
}

button#editar {
    border: none;
    background-color: transparent;
    height: fit-content;
    width: fit-content;
}

button#editar:hover {
    font-weight: bold;
    color: black;
}