<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Feira: Seu assistente de compras</title>
    <link rel="stylesheet" href="https://pauloandreoliv.github.io/Projeto-DSWII/assets/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo"></div>
    </header>
    <main>
        <div class="login-container">
            <form action="{{ url_for('cadastrarlista') }}" method="POST">
                <section class="principal">
                    <div class="nomedalista" type="submit">
                        <i class="fa-solid fa-add"></i><span> Criar nova lista</span>
                    </div>
                    <input id="nomedalista" name="nomedalista" placeholder="Nome da lista" type="text" required>
                    <table>
                        <thead>
                            <tr>
                                <th>Qtd</th>
                                <th>Produto</th>
                                <th>Preço</th>
                            </tr>
                        </thead>
                        <tbody>
                            <input type="hidden" id="total" name="total" value="{{ total }}">
                            {% for item in itens %}
                            <tr id="iddoproduto{{ loop.index }}">
                                <td><input id="qtd{{ loop.index }}" name="qtd{{ loop.index }}" type="number" style="width: 30px;" oninput="validarNumero(this)"></td>
                                <td><input id="nome{{ loop.index }}" name="nome{{ loop.index }}" type="text" value="{{ item['nome'] }}" readonly style="width: fit-content;color: black;background-color: transparent;"></td>
                                <td><input id="preco{{ loop.index }}" name="preco{{ loop.index }}" type="text" value="{{ item['preco'] }}" readonly style="width: fit-content;color: black;background-color: transparent;"></td>
                            </tr>
                            {% endfor %}                        
                        </tbody>
                    </table>
                </section>
                <button class="verde" id="criar" name="criar" type="submit">Criar</button>
            </form>            
            <a href="{{ url_for('principal') }}"><button class="vermelho" id="voltar" name="voltar">Voltar</button></a>
        </div>
    </main>
    <script>
        function validarNumero(input){
            if (input.value < 0) {
                input.value = 0;
            }
        }
    </script>    
</body>
</html>