<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Feira: Seu assistente de compras</title>
    <link rel="stylesheet" href="https://pauloandreoliv.github.io/Projeto-DSWII/assets/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo"></div>
    </header>
    <main>
        <div class="login-container">
            <h2>Esqueci minha senha</h2>
        <form>
            <label for="cpf"><i class="fa-solid fa-user"></i>  CPF</label>
            <input type="text" id="cpf" name="cpf" placeholder="Seu CPF" required>
            <label for="email"><i class="fa-solid fa-envelope"></i>  E-mail</label>
            <input type="email" id="email" name="email" placeholder="Seu e-mail" required>
            <article>
                <button class="verde" id="entrar" name="entrar" type="submit">Redefinir</button>
            </form>
        </article>
        <a id="voltar" href="{{ url_for('index') }}">Voltar</a>
    </div>
    </main>
</body>
</html>