<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Feira: Seu assistente de compras</title>
    <link rel="stylesheet" href="https://pauloandreoliv.github.io/Projeto-DSWII/assets/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo"></div>
    </header>
    <main>
        <h6>{{ aviso }}</h6>
        <div class="login-container">
            <section class="principal">
                <div class="nomedalista" type="submit"><i class="fa-solid fa-headset"></i><span> Obter suporte</span></div>
                <form method="POST">
                <input placeholder="E-mail válido" id="email" name="email" type="email" required>
                <textarea placeholder="Seu pedido, sugestão ou questionamento" id="texto" name="texto"></textarea>
                <button class="verde" id="enviar" name="enviar" type="submit">Enviar</button>
            </form>
            </section>
            <a href="{{ url_for('principal') }}"><button class="vermelho" id="voltar" name="voltar" type="submit">Voltar</button></a>
        </div>
    </main>
</body>
</html>