<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Feira: Seu assistente de compras</title>
    <link rel="stylesheet" href="https://pauloandreoliv.github.io/Projeto-DSWII/assets/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo"></div>
    </header>
    <main>
        <div class="login-container">
            <h2>Principal</h2>
            <section class="principal">
                <button id="verminhaslistas" type="submit"><i class="fa-solid fa-bars"></i><span>Ver minhas listas</span></button>
                <button id="criarnovalista" type="submit"><i class="fa-solid fa-add"></i><span>Criar nova lista</span></button>
                <button id="verprodutos" type="submit"><i class="fa-solid fa-basket-shopping"></i><span>Ver produtos</span></button>
                <button id="cadastrarproduto" type="submit"><i class="fa-solid fa-add"></i><span>Cadastrar produto</span></button>
                <button id="verdicas" type="submit"><i class="fa-solid fa-star"></i><span>Ver dicas</span></button>
                <button id="verpromocoes" type="submit"><i class="fa-solid fa-percent"></i><span>Ver promoções</span></button>
                <button id="obtersuporte" type="submit"><i class="fa-solid fa-headset"></i><span>Obter suporte</span></button>
            </section>
            <button class="vermelho" id="sair" name="sair" type="submit">Sair</button>
        </div>
    </main>
</body>
</html>