<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Feira: Seu assistente de compras</title>
    <link rel="stylesheet" href="https://pauloandreoliv.github.io/Projeto-DSWII/assets/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo"></div>
    </header>
    <main>
        <div class="login-container">
            <section class="principal">
                <div class="nomedalista" type="submit"><i class="fa-solid fa-star"></i><span> Ver dicas</span></div>
                <table>
                    <thead>
                        <tr>
                            <th>Dicas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Feijãaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaao</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <button class="vermelho" id="voltar" name="voltar" type="submit">Voltar</button>
        </div>
    </main>
</body>
</html>